h1 {
  background-color: beige; 
  color: white;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}

table {
  margin: 20px 0;
  border-collapse: collapse;
}

th, td {
  border: 1px solid black;
  padding: 8px 12px;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: pink;
}

img {
  border-radius = 50%;
  border: soliid 5px gray;
}
